
.section-title {
  margin-top: 0;
  /* padding-top: 15px!important; */
}
.section-title h2 {
  line-height: 1!important;
  margin-bottom: 0!important;
}
section, header {
  padding: 0!important;
  margin-bottom: 80px!important;
}
#footer1-2 {
  padding-top: 30px!important;
  margin-bottom: 0!important;
}

.nav-icon {
  margin-right: 10px;
  display: inline-block;
}
.cid-r9gdjXqcUm {
  padding-bottom: 0!important;
}
.program-section {
  background-color: rgba(73, 167, 255, 0.4)!important;
}
.program-section-wrap {
  background-color: transparent!important;
  padding: 0!important;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4);
  width: 80%;
}
.program-content {
  margin: 0!important;
  color: #3b3939!important;
  text-shadow: 0 0 5px white;
}
@media(max-width:768px){
  .program-section-wrap {
    width: auto;
  }
}
@media(max-width: 992px){
  section, header {
    margin-bottom: 50px!important;
  }
}
/* ==================================================================================== NAV */

@media(max-width: 992px){
  nav {
    min-height: 45px!important;
    max-height: 45px!important;
    padding: 0!important;
  }
  nav button {
    top: 13px!important;
  }
  .navbar-brand {
    min-height: 45px!important;
    max-height: 45px!important;
  }
  #navbarSupportedContent {
    overflow: visible;
    background-color: #333333;
    position: absolute;
    top: 45px;
    right: 0;
  }
  #navbarSupportedContent li {
    margin: 15px;
  }
  #navbarSupportedContent a {
    justify-content: flex-start;
    font-size: 18px;
  }
  #navbarSupportedContent ul {
    z-index: 2000;
  }
  .cid-qTkzRZLJNu .navbar-toggleable-sm.opened:after {
    display: none!important;
  }
}


/* ==================================================================================== HEADER */


@media(max-width: 992px){
  #header15-3 {
    padding-top: 70px!important;
    min-height: auto!important;
  }

  #header15-3 .form-container {
    margin-bottom: 15px;
  }
}



/* ============================================================================== SECTION PROGRAM relax */


@media(max-width: 992px){
  .carousel-content {
    min-width: 100vw;
  }
  .carousel-content h2 {
    line-height: 1;
  }
  .carousel-content p {
    line-height: 1.2;
  }
  .carousel-control {
    width: 35px!important;
    height: 35px!important;
    bottom: 5px!important;
    margin: 0!important;
  }
  .carousel-control-next {
    right: 5px!important;
  }
  .carousel-control-prev {
    left: 5px!important;
  }
  .mbr-iconfont {
    font-size: 20px!important;
  }
  .cid-r9gw9pHYSH .full-screen .slider-fullscreen-image {
    min-height: 500px!important;
    max-height: 500px!important;
  }
  .cid-r9gw9pHYSH .full-screen .carousel-item .container.container-slide {
    min-height: 500px!important;
    max-height: 500px!important;
  }
}


/* ================================================================================== MODAL WINDOW AND RELAX SECTION */
.modal-dialog {
  min-width: 80vw;
  height: auto;
}
.modal-content {
  padding: 15px;
}
.btn.btn-primary, .btn.btn-danger {
  padding: 5px 10px;
}

.modal.fade .carousel {
  /* width: 70%; */
}

.modal.fade .cid-r9gw9pHYSH .mbr-slider .carousel-control.carousel-control-next {
  margin-right : 1rem!important;
}

.modal.fade .cid-r9gw9pHYSH .mbr-slider .carousel-control.carousel-control-prev {
  margin-left : 1rem!important;
}

.modal.fade .cid-r9gw9pHYSH .mbr-slider .carousel-control {
  width: 35px!important;
  height: 35px!important;
  font-size: 25px!important;
  top: 50%;
}
.modal.fade .cid-r9gw9pHYSH .mbr-slider .carousel-indicators li {
  max-width: 10px!important;
  max-height: 10px!important;
  cursor: pointer;
}
.modal.fade .cid-r9gw9pHYSH .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1rem!important;
}
.modal.fade .modal-slider-wrap {
  width: 50%;
  height: auto;
  height: auto;
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.image_wrapper {
  height: 500px!important;
}
.image_wrapper img {
  min-height: 100%!important;
  min-width: 100%!important;
}
.relax-modal-window .carousel {
  margin-bottom: 15px;
}
@media(max-width: 768px){
  .modal.fade .modal-slider-wrap  {
    float:none;
    height: auto;
    width: 95%;
  }
  .image_wrapper {
    height: 270px!important;
    width: 100%!important;
  }
  .modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 500px){
  .modal.fade .modal-slider-wrap  {
    float:none;
    height: 250px!important;
    margin-bottom: 10px;
  }
}


@media (max-width: 1400px) {
  .program-relax .media-container-row {
    flex-wrap: wrap!important;
  }
  .program-relax .col-lg-2   {
    min-width: 300px!important;
  }
}

/* ======================================= BLOCK PROGRAM */



.program-relax .relax-card-content {
  max-height: 200px;
  line-height: 1;
  overflow: hidden;
}

.cid-r9gk48CsyH .card-box {
  padding: 15px 0!important;
}
.card-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.card-img img {
  min-width: 100%;
  min-height: 100%;
  transition: 0.4s;
}
.card-img:hover img {
  transform: scale(1.1);
}

.relax-card-title {
  font-size: 2rem!important;
}



.relax-card-container {
  overflow:hidden!important;
  min-height: 100%;
  margin: 0 30px;
  box-shadow: 0 0 10px grey;
  padding: 15px;
  position: relative;
  outline: none!important;
}
.relax-content {
  width: 100%;
  height: 33%;
  overflow: hidden;
  line-height: 1;
  margin-bottom: 0;
}
.relax-txt-container {
  height: 40%;
}
.relax-img-container {
  width: 100%;
  height: 40%;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  border-radius: 10px;
}
.relax-card-container:hover img {
  transform: scale(1.1);
}

.relax-img-container img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.relax-card-button-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;

}
.relax-card-button-container button {
  display: block!important;
  position: relative!important;
  margin: 0 auto!important;
}

.modal.fade.slick-slide.slick-cloned {
  height: 100%!important;
}

.slick-slide {
}
.relax-row {
  display: flex!important;
  overflow-y: hidden;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  background-color: white;
  overflow: hidden!important;
}
.slick-track {
  height: 525px!important;
  display: flex!important;
  align-items: center;
  padding: 5px 0;
  position: relative!important;
  background-color: white!important;
}
.slick-arrow {
  width: 45px;
  height: 45px;
  color: transparent;
  position: absolute;
  top: calc(525px / 2 - 45px / 2);
  z-index: 200;
  border-radius: 50%;
  border: none!important;
  outline: none!important;
  cursor: pointer;
  background-color: white;
  background-position: center;
  background-size: 100% 100%;
  transition: 0.3s;
}
.slick-arrow:hover {
  transform: scale(1.1);
}
.slick-next {
  right: 10px;
  background-image: url('../img/right-btn.svg');
}
.slick-prev {
  left: 10px;
  background-image: url('../img/left-btn.svg');
}
.relax-title {
  text-align: center!important;
  min-height: 10%;
  overflow: hidden;
  margin-bottom: 5px!important;
  font-size: 18px;
}
.slick-arrow {
  background-color: white!important;
}
.container-fluid {
  background-color: white!important;
}
@media(max-width:600px){
  .slick-arrow {
    top: 40%;
  }
}


/* ============================================================================== FOOTER */

#footer1-2 .footer-logo img {
  margin-right: 15px;
  width: 150px;
  height: 60px;
}
