


.sections {
    padding-top:85px;
    padding-bottom: 105px;
    /*overflow: hidden;*/
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

.portfolio .toolbar{
    margin-bottom:50px;
}

.btn-md:active, .btn-md.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}
button.btn-md:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline:none;
    color:#e74c3c;
}
button.btn-md {
    text-align: center;
    color: #444;
    letter-spacing: 1px;
    margin: 0;
    font-size: 0.8125rem;
    border-radius: 0px;
    margin-top: 0px;
    background-color: transparent;
    transition: .5s;
    border: 1px solid transparent;
    font-family: 'montserratregular';
    cursor:pointer;
    padding:5px 10px;
    margin: 5px;
}
button.btn-md:hover {
    background-color: transparent;
    color: #92c500;
    text-decoration: none;
    border: 1px solid #92c500;
}

.btn-md{
    background: #999999;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


#popularslider {
    margin: 1rem 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

img {
    max-width: 100%;
}

.tile img {
    height: auto;
    display: inline-block;
    width: 100%;
}


.grid_item_overlay{
    position: absolute;
    left:10%;
    top:10%;
    width:80%;
    height: 80%;
    background: rgba(146, 197, 0, 0.8);
    color:#fff;
    padding: 20px;
    opacity: 0;
    transition: 0.6s;
    padding-top:35%;
    z-index: 99;
}

.single_portfolio:hover .grid_item_overlay{
    opacity: 1;
}

.single_portfolio{
    position: relative;

}
.single_portfolio:hover .grid_item_overlay{
    opacity: 1;
}

.tile {
    display: none;

}
.scale-anm {
    margin: 0px;
    width: 100%;
    /*margin-bottom: -6px;*/
}


.tile img {
    height: auto;
    display: inline-block;
    width: 100%;
}





/*==================================================
RESPONSIVE SECTION
====================================================*/

@media (max-width: 1199px) {
    #popularslider {
        margin: 1rem 0;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 991px) {
    #popularslider {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    #popularslider {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
